.date{
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #EB2B36;
  display: table-cell;
  float: none;
  height: 100%;
}

.post_title{
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #EB2B36;

  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #EB2B36;
  display: table-cell;
  float: none;
  height: 100%;
}

.snippet {
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #EB2B36;
  display: table-cell;
float: none;
height: 100%;
}

.post-image{
  display: table-cell;
float: none;
height: 100%;
}

.post-row{
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.blog-header{
  background-color: #EB2B36;
}

.black-block-header{
  color: white;
  border-top: 100px solid black;
  border-right: 100px solid transparent;
  width: 50%;
}

.blog-header-text{
  position: absolute;
  z-index: 1000;
  top: -10px;
  left: 40px;
}
