<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container-fullwidth blog-header">
      <div class="container ">
        <div class="col-sm-12 ">
          <div class="black-block-header">
            <div class="blog-header-text">
              <h1 class="blog-title">David Newswanger</h1>
              <p class="lead blog-description">Summer Internship Blog</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">



      <div class="row">

        <div class="col-sm-2 date">
          <h3> May 20, 2016 </h3>
        </div><!-- /.col-sm-2 -->

        <div class="col-sm-10 post_title">
          <h3> First Day At Red Hat </h3>
        </div>

        <div class="col-sm-2 avatar">
          <img src="img/rh.png" width="100%"/>
        </div><!-- /.col-sm-2 -->

        <div class="col-sm-10 snippet">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed metus urna. Fusce feugiat ut ligula nec luctus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla lobortis, elit quis imperdiet tempus, leo risus dapibus dolor, sed suscipit neque quam et ligula. Sed in tincidunt massa. Vivamus id tortor eu metus rhoncus vulputate a pellentesque orci. Nullam tempor dui at congue pellentesque. Nunc eget faucibus tortor. Proin ut arcu augue. Fusce vitae nunc gravida, finibus risus mollis, blandit lacus. Duis mollis, urna non facilisis vehicula, elit quam aliquam tortor, ut facilisis nisi quam eget elit. Nam ac risus vitae lorem aliquet tempus. </p>
        </div>

      </div><!-- /.row -->
<br />

      <div class="row">

        <div class="col-sm-2 date">
          <h3> May 20, 2016 </h3>
        </div><!-- /.col-sm-2 -->

        <div class="col-sm-10 post_title">
          <h3> First Day At Red Hat </h3>
        </div>

        <div class="col-sm-2 avatar">
          <img src="img/rh.png" width="100%"/>
        </div><!-- /.col-sm-2 -->

        <div class="col-sm-10 snippet">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed metus urna. Fusce feugiat ut ligula nec luctus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla lobortis, elit quis imperdiet tempus, leo risus dapibus dolor, sed suscipit neque quam et ligula. Sed in tincidunt massa. Vivamus id tortor eu metus rhoncus vulputate a pellentesque orci. Nullam tempor dui at congue pellentesque. Nunc eget faucibus tortor. Proin ut arcu augue. Fusce vitae nunc gravida, finibus risus mollis, blandit lacus. Duis mollis, urna non facilisis vehicula, elit quam aliquam tortor, ut facilisis nisi quam eget elit. Nam ac risus vitae lorem aliquet tempus. </p>
        </div>

      </div><!-- /.row -->

<br />

      <div class="row">

        <div class"col-sm-12">
          <--- Prev | Next --->
        </div>

      </div><!-- /.row -->
    </div><!-- /.container -->s


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
